node_modules/
.pnpm-store/
.turbo/

# Next.js
.next/
out/

# Python
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
apps/api/data/*.db
apps/api/data/uploads/

# Playwright
playwright-report/
test-results/

# Misc
.DS_Store
.env
.env.*

# build artifacts
dist/

# PWA generated artifacts
apps/web/public/sw.js
apps/web/public/workbox-*.js
apps/web/public/swe-worker-*.js
apps/web/public/fallback-*.js
.vercel
